/*iconos de puntos de venta-contacto-correo*/
$rojo-principal :#E71409;

/*botones titulos e iconos:lugar-fecha-hora*/
$amarillo: #f2c500;

/*unica tabla en evento.html*/
$gris-tabla:#EFEFEF;

/*pie de pagina*/
$negro:black;

$barra-nav:#222222;


/*MIXINS*/
    @mixin icono-cabecera($displa,$paddin,$margi,$mar-left,$mar-top){

        display: $displa;
        padding:$paddin;
        margin:$margi;
        margin-left: $mar-left;
        margin-top:$mar-top;

    }

   @mixin tamano_imagenes($ancho,$alto,$min-ancho,$min-alto,$max-ancho,$max-alto){
        width: $ancho; 
        height: $alto;
        min-width: $min-ancho;
        min-height: $min-alto;
        max-width: $max-ancho;
        max-height: $max-alto;
       
    }
/*divisor horizontal debajo de iconos de redes sociales en pie de pagina*/
    @mixin divisor_horizontal($mar-sup,$alto,$max-ancho,$disp,$over,$fondo){
        margin-top: $mar-sup;
        height:$alto;
        max-width: $max-ancho;
        display: $disp;
        overflow: $over;
        background-color: $fondo;
   }
    @mixin desenfocar($des){
        -webkit-filter: blur($des);
        -moz-filter: blur($des);
        -o-filter: blur($des);
        -ms-filter: blur($des);
        filter: blur($des);
        


    }



