$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_variables.scss";

body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
}


/*! imagen pequeña de ver evento */

img.evento {
    position: relative;
    margin-top: -675px;
    margin-left: 8.5px;
    height: 100%;
    width: 100%;
    min-width: 283px;
    min-height: 280px;
    max-height: 283px;
    max-width: 280px;
}


/*! imagen con blur de ver evento */

img.entrada {
    height: 100%;
    width: 100%;
    min-width: 300px;
    min-height: 468px;
    max-height: 468px;
    max-width: 300px;
}


/*! imagen  */

img.cabecera {
    min-width: 934px;
    min-height: 257px;
    max-height: 257px;
    max-width: 934px;
}


/*! imagen fecha-hora-lugar en evento.html*/

img.detalle {
    width: 100%;
    height: 100%;
    max-height: 370px;
    max-width: 380px;
}


/*! imagen hoy y agotado*/

img.status {
    margin-top: -922px;
}


/*! imagen de redes de pie de pagina*/

img.desplazada {
    margin-left: 8px;
}


/*! imagen fecha-hora-lugar evento en movil*/

img.movil {
    min-width: 120px;
    min-height: 100px;
    max-height: 100px;
    max-width: 120px;
    margin-top: 20px;
}
.redes-movil{

  margin-top:15px; 
   margin-left:5px;

}


/*! imagen protectora ancho pantalla*/

.header img {
    width: 100%;
    max-width: 400px;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
    max-height: 500px;
}


/*! imagen que contiene botones deportes,musica,teatro*/

.header-principal img {
    width: 100%;
    height: 100%;
    max-height: 280px;
    min-height: 280px;
    max-width: 1000px;
    background-size: cover;
    margin-top: 30px;
}

button {
    font-size: 14px;
    font-weight: bold;
}

.margen-superior {
    margin-top: 10px;
}

.boton-ingresar {
    color: #FF9D00;
    margin-top: 5px;
    background: transparent;
}

.color-nav {
    background-color: #222222;
}

.fuente {
    font-family: "open sans";
}

.titulos {
    font-size: 24px;
    font-weight: bold;
}

.principal {
    max-width: 1000px;
    background-color: #FFFFFF;
}

.principal-fin {
    background-color: #EAE5E5;
}

.one {
    background-color: #E30C0C;
    margin-top: 5px;
}

.bajar-rumbon {
    margin-top: 150px;
}

.iconos-redes {
    margin-top: 2px;
}

.informacion {
    color: white;
    font-size: 16px;
}

.tarjeta {
    background: #fff;
}

.img-responsive.img-center {
    margin: 0 auto;
}

.subir {
    margin-top: -30px;
}

.subir-entrada {
    margin-top: -190px;
}

.contenedor {
    text-align: center;
    height: 200px;
}

.hoy h2 {
    margin-top: -222px;
    font-size: 24px;
    font-weight: bold;
    color: #f2c318;
}

.vive h1 {
    margin-top: -200px;
    font-size: 24px;
    font-weight: bold;
    color: #f2c318;
}

h3 {
    color: #0B0505;
}

h4 {
    color: black;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
}

h5 {
    color: #FFC100;
    height: 50px;
    padding-top: -150px;
    padding-left: 55px;
    font-size: 12px;
    font-weight: bold;
}

.clientes h6 {
    font-size: 30px;
    color: #8E8383;
}

.datos {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.showInfo h3 {
    font-size: 12px;
    font-weight: bold;
}

.ver {
    color: #FFC100;
    padding-top: -135px;
    padding-left: -15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

.marco {
    background-color: $rojo-principal;
    position: absolute;
    width: 263px;
    height: 30px;
    z-index: 2;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 210px;
    padding: 10px 15px;
    opacity: 0.7;
}

.boton {
    background-color: #f2c500;
    margin-left: 40px;
}

.fa,
.btn {
    color: white;
}

.fa2 {
    color: #FFC100;
    background-color: #FFFFFF;
}

.faa {
    color: #FFC100;
}

.fab {
    color: red;
}

.font-negro {
    background: black;
}

.divider {
    margin-top: 5px;
    height: 1px;
    margin-left: 20px;
    display: block;
    overflow: hidden;
    background-color: #130505;
}

.max-panel {
    width: 300px;
}

.divider-white {
    margin-top: -80px;
    height: 2px;
    max-width: 45%;
    display: block;
    overflow: hidden;
    background-color: #FFFFFF;
}

.divider-white-vertical {
    margin-top: -80px;
    height: 80px;
    border-right: 1px solid #f2f2f2;
    margin-right: -15px;
}

.bajar {
    margin-top: 30px;
}

.bajar-boton {
    margin-top: 5px;
    margin-left: 220px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.iconos img {
    display: inline-block;
    padding: 0px 12px;
    margin: 0px 8px;
    margin-left: 105px;
    margin-top: -310px;
}

.icono-boton {
    display: inline-block;
    padding: 0px 12px;
    margin: 0px 8px;
    margin-left: -5px;
    margin-top: -310px;
    background: transparent;
    color: white;
}

.panel-datos {
    margin-left: 100px;
}

@media all and (max-width: 1200px) {
    .iconos img {
        display: inline-block;
        padding: 0px 6px;
        margin: 0px 2px;
        margin-left: 80px;
        margin-top: -310px;
    }
    .icono-boton {
        display: inline-block;
        padding: 0px 6px;
        margin: 0px 2px;
        margin-left: 5px;
        margin-top: -310px;
        background: transparent;
        color: white;
    }
    .panel-datos {
        margin-left: 50px;
    }
    .centrar {
        margin-left: 10px;
    }
}

@media all and (max-width: 842px) {
    .iconos img {
        display: inline-block;
        padding: 0px 3px;
        margin: 0px 2px;
        margin-left: 65px;
        margin-top: -310px;
    }
    .icono-boton {
        display: inline-block;
        padding: 0px 3px;
        margin: 0px 2px;
        margin-left: 5px;
        margin-top: -310px;
        background: transparent;
        color: white;
    }
    .local-text {
        margin-top: -30px;
    }
    .local img {
        margin-top: -160px;
    }
    .subir-pie {
        margin-top: -80px;
    }
    .contenedor {
        text-align: center;
        height: 80px;
    }
    .subir-text {
        margin-top: 5px;
    }
    .panel-datos {
        margin-left: 250px;
    }
    .centrar {
        margin-left: 250px;
    }
}

@media all and (max-width: 520px) {
    .iconos img {
        margin: 0px;
        padding: 0px;
        margin-left: 145px;
        display: block;
        float: none;
        text-align: left;
        margin-top: -100px;
    }
    .icono-boton {
        display: inline-block;
        padding: 0px 3px;
        margin: 0px 2px;
        margin-left: 195px;
        margin-top: -60px;
        background: transparent;
        color: white;
    }
   
    .bajar-boton {
        margin-top: -5px;
        margin-left: 80px;
    }
    .centrar {
        margin-left: 150px;
    }
    .panel-datos {
        margin-left: 50px;
    }
}

.margenes {
    margin-left: 120px;
    margin-right: 100px;
}

.desenfoque {
    overflow: hidden;
    -moz-overflow: hidden;
    display: inline-block;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
    z-index: -1;
}

.desenfoque:before {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: -1;
}

header.container-fluid {
    background-image: url(../images/Bitmap2.png);
    border-image: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 309px;
}

.opacidad,
.opacidad2,
.relativo {
    position: relative;
}

.opacidad:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 2;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.opacidad2:after {
    content: '\A';
    position: absolute;
    width: 300px;
    height: 468px;
    top: 30px;
    left: 2;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.inputt {
    font: .9em/1.5em "handwriting";
    border-color: #BAB4B4;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0 10px;
    margin: 0;
    width: 240px;
    background: none;
}

.inputt:focus {
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    outline: none;
}
